In [1]:
import pywrds as pw
import pandas as pd
import datetime as dt
import numpy as np

In [2]:
w = pw.wrds('D:/finaldata')

In [3]:
###########################################

In [4]:
############################

In [5]:
######################################

In [6]:
raw_adj = 'D:/wrds/ibes/sasdata/adj.sas7bdat'
w.convert_data(raw_adj)
adj = 'adj'

The file has already been converted. Use force=True to force the conversion.

In [106]:
def _adjustmentfactors(file_adj):
    """ Create an adjustment factor table with a start and end date
    for each factor."""
    # Add the necessary columns to process the data
    cols = ['ticker','spdates','adj']
    # Open adjustment factors data
    df_adj = w.open_data(file_adj, cols)
    
    df_adj = df_adj[0:100]
    
    # Select the firms that have at least one split
    df_ticker = df_adj.groupby(['ticker'])['ticker'].count().to_frame('ticker_counts')
    df_ticker = df_ticker[(df_ticker['ticker_counts'] > 1)].reset_index()
    ticker_list = df_ticker['ticker'].to_list()
    
    # Create the new adjustment table
    
    df_ticker = df_ticker.sort_values(by=['ticker','spdates'],ascending=[1,0]).reset_index()
    
    tickers = df_adj['ticker'].unique()
    
    l=[]
    for i in range(0,len(tickers)):
        if tickers[i] in ticker_list:
            idx = ticker_list.index(tickers[i])
            l.append(idx)
        else:
            continue
    
    df_adj['enddt'] = ''
    df_adj['startdt'] = ''
    
    df = df_adj
    
    # Solution 1 (Set all dates first, then change first occurrences to 0)
#   for i in range (1,len(df)):
#        df['enddt'][i] = df['spdates'][i-1]
#        df['startdt'][i] = df['spdates'][i]
 #   for i in l:
 #       df['enddt'][i] = 0
 #       df['startdt'][i] = 0
        
    # Solution 2 (Set first occurrences to 0, then set all other dates)
    for i in l:
        df['enddt'][i] = 0
        df['startdt'][i] = 0
   
    for i in range(1,len(df)):
        if df['enddt'][i] == 0:
            continue
        else:
            df['enddt'][i] = df['spdates'][i-1]
            df['startdt'][i] = df['spdates'][i]
           
    
    return df

In [156]:
cols = ['ticker','spdates','adj']
# Open adjustment factors data
df_adj = w.open_data(adj, cols)

df_adj = df_adj[0:500]

In [157]:
df_ticker = df_adj.groupby(['ticker'])['ticker'].count().to_frame('ticker_counts').reset_index()

In [158]:
df_ticker = df_ticker[(df_ticker['ticker_counts'] > 1)].reset_index()

In [159]:
df_ticker

    index ticker  ticker_counts
0       2   0003              2
1       5   000V              2
2       7   000Z              3
3       8   0011              2
4      12   001C              2
5      37   0034              2
6      38   0039              2
7      43   003G              2
8      56   004L              2
9      70   006Q              2
10     85   0084              2
11     89   008I              2
12     99   009N              2
13    106   00AW              2
14    107   00B1              2
15    122   00CI              2
16    131   00DJ              2
17    139   00EC              2
18    140   00ED              2
19    143   00EG              2
20    154   00GQ              2
21    158   00HY              2
22    168   00JC              2
23    173   00KQ              2
24    175   00KV              4
25    180   00LR              2
26    181   00LU              2
27    188   00O8              2
28    198   00Q7              2
29    207   00R9              2
30    208   00RA              3
31    210   00RJ              2
32    211   00RK              2
33    217   00RX              2
34    252   00W1              2
35    281   013Q              2
36    300   0186              3
37    304   018X              2
38    322   01AR              2
39    334   01E1              2
40    340   01ET              2
41    381   01ML              2
42    385   01NX              2

In [160]:
ticker_list = df_ticker['ticker'].to_list()

In [161]:
ticker_list

['0003',
 '000V',
 '000Z',
 '0011',
 '001C',
 '0034',
 '0039',
 '003G',
 '004L',
 '006Q',
 '0084',
 '008I',
 '009N',
 '00AW',
 '00B1',
 '00CI',
 '00DJ',
 '00EC',
 '00ED',
 '00EG',
 '00GQ',
 '00HY',
 '00JC',
 '00KQ',
 '00KV',
 '00LR',
 '00LU',
 '00O8',
 '00Q7',
 '00R9',
 '00RA',
 '00RJ',
 '00RK',
 '00RX',
 '00W1',
 '013Q',
 '0186',
 '018X',
 '01AR',
 '01E1',
 '01ET',
 '01ML',
 '01NX']

In [162]:
df1 = pd.DataFrame(ticker_list,columns=['ticker'])

In [163]:
df1

   ticker
0    0003
1    000V
2    000Z
3    0011
4    001C
5    0034
6    0039
7    003G
8    004L
9    006Q
10   0084
11   008I
12   009N
13   00AW
14   00B1
15   00CI
16   00DJ
17   00EC
18   00ED
19   00EG
20   00GQ
21   00HY
22   00JC
23   00KQ
24   00KV
25   00LR
26   00LU
27   00O8
28   00Q7
29   00R9
30   00RA
31   00RJ
32   00RK
33   00RX
34   00W1
35   013Q
36   0186
37   018X
38   01AR
39   01E1
40   01ET
41   01ML
42   01NX

In [164]:
df_ticker = pd.merge(df1, df_adj,on='ticker')

In [165]:
df_ticker

   ticker    spdates    adj
0    0003 2014-02-20  1.019
1    0003 2014-07-17  1.000
2    000V 2014-03-20  0.067
3    000V 2016-04-14  1.000
4    000Z 2014-03-20  0.011
..    ...        ...    ...
86   01ET 2018-12-20  1.000
87   01ML 2017-07-20  0.333
88   01ML 2019-01-17  1.000
89   01NX 2017-07-20  0.067
90   01NX 2019-06-20  1.000

[91 rows x 3 columns]

In [166]:
df_ticker = df_ticker.sort_values(by=['ticker','spdates'],ascending=[1,0]).reset_index()

In [167]:
tickers = df_ticker['ticker'].unique()

In [168]:
tickers

array(['0003', '000V', '000Z', '0011', '001C', '0034', '0039', '003G',
       '004L', '006Q', '0084', '008I', '009N', '00AW', '00B1', '00CI',
       '00DJ', '00EC', '00ED', '00EG', '00GQ', '00HY', '00JC', '00KQ',
       '00KV', '00LR', '00LU', '00O8', '00Q7', '00R9', '00RA', '00RJ',
       '00RK', '00RX', '00W1', '013Q', '0186', '018X', '01AR', '01E1',
       '01ET', '01ML', '01NX'], dtype=object)

In [169]:
l=[]
for i in range(0,len(tickers)):
    if tickers[i] in ticker_list:
        idx = ticker_list.index(tickers[i])
        l.append(idx)
    else:
        continue

In [170]:
l

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42]

In [107]:
df = _adjustmentfactors(adj)

C:\Users\pendr\Anaconda3\lib\site-packages\ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\pendr\Anaconda3\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\pendr\Anaconda3\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\pendr\Anaconda3\lib\site-packages\ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [109]:
df.head(50)

    index ticker    spdates    adj enddt startdt
0       0   0000 2014-02-20  1.000     0       0
1       1   0001 2014-02-20  1.000     0       0
2       3   0003 2014-07-17  1.000     0       0
3       2   0003 2014-02-20  1.019     0       0
4       4   0004 2014-02-20  1.000     0       0
5       5   000R 2014-02-20  1.000     0       0
6       7   000V 2016-04-14  1.000     0       0
7       6   000V 2014-03-20  0.067     0       0
8       8   000Y 2014-03-20  1.000     0       0
9      11   000Z 2018-07-19  1.000     0       0
10     10   000Z 2016-10-20  0.033     0       0
11      9   000Z 2014-03-20  0.011     0       0
12     13   0011 2015-12-17  1.000     0       0
13     12   0011 2014-03-20  0.033     0       0
14     14   0017 2014-03-20  1.000     0       0
15     15   0018 2014-03-20  1.000     0       0
16     16   001A 2014-03-20  1.000     0       0
17     18   001C 2018-02-15  1.000     0       0
18     17   001C 2014-03-20  0.050     0       0
19     19   001J 2014-03-20  1.000     0       0
20     20   001K 2014-03-20  1.000     0       0
21     21   001L 2014-03-20  1.000     0       0
22     22   001M 2014-03-20  1.000     0       0
23     23   001N 2014-03-20  1.000     0       0
24     24   001R 2014-03-20  1.000     0       0
25     25   001V 2014-03-20  1.000     0       0
26     26   001W 2014-03-20  1.000     0       0
27     27   001X 2014-03-20  1.000     0       0
28     28   001Y 2014-04-17  1.000     0       0
29     29   001Z 2014-04-17  1.000     0       0
30     30   002B 2014-04-17  1.000     0       0
31     31   002G 2014-04-17  1.000     0       0
32     32   002J 2014-04-17  1.000     0       0
33     33   002L 2014-04-17  1.000     0       0
34     34   002P 2014-04-17  1.000     0       0
35     35   002S 2014-05-15  1.000     0       0
36     36   002T 2014-05-15  1.000     0       0
37     37   002U 2014-05-15  1.000     0       0
38     38   002V 2014-05-15  1.000     0       0
39     39   002X 2014-05-15  1.000     0       0
40     40   002Y 2014-05-15  1.000     0       0
41     41   0031 2014-05-15  1.000     0       0
42     42   0033 2014-05-15  1.000     0       0
43     44   0034 2018-09-20  1.000     0       0
44     43   0034 2014-05-15  0.003     0       0
45     46   0039 2018-06-14  1.000     0       0
46     45   0039 2014-05-15  0.500     0       0
47     47   003A 2014-05-15  1.000     0       0
48     48   003D 2014-05-15  1.000     0       0
49     49   003E 2014-05-15  1.000     0       0

In [94]:
cols = ['ticker','spdates','adj']
# Open adjustment factors data
df_adj = w.open_data(adj, cols)

# Select the firms that have at least one split
df_ticker = df_adj.groupby(['ticker'])['ticker'].count().to_frame('ticker_counts')
df_ticker = df_ticker[(df_ticker['ticker_counts'] > 1)].reset_index()
ticker_list = df_ticker['ticker'].to_list()

# Create the new adjustment table

df_adj = df_adj.sort_values(by=['ticker','spdates'],ascending=[1,0]).reset_index()

tickers = df_adj['ticker'].unique()

In [87]:
l=[]
for i in range(0,len(tickers)):
    if tickers[i] in ticker_list:
        idx = ticker_list.index(tickers[i])
        l.append(idx)
    else:
        continue

In [97]:
l

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [100]:
df_adj['enddt'] = ''
df_adj['startdt'] = ''

# Solution 1 (Set all dates first, then change first occurrences to 0)
for i in range (1,len(df_adj)):
    df_adj['enddt'][i] = df_adj['spdates'][i-1]
#    df_adj['startdt'][i] = df_adj['spdates'][i]
for i in l:
    df_adj['enddt'][i] = 0
#    df_adj['startdt'][i] = 0

C:\Users\pendr\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\pendr\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [101]:
df_adj.head(50)

    index ticker    spdates    adj enddt startdt
0       0   0000 2014-02-20  1.000     0
1       1   0001 2014-02-20  1.000     0
2       3   0003 2014-07-17  1.000     0
3       2   0003 2014-02-20  1.019     0
4       4   0004 2014-02-20  1.000     0
5       5   000R 2014-02-20  1.000     0
6       7   000V 2016-04-14  1.000     0
7       6   000V 2014-03-20  0.067     0
8       8   000Y 2014-03-20  1.000     0
9      11   000Z 2018-07-19  1.000     0
10     10   000Z 2016-10-20  0.033     0
11      9   000Z 2014-03-20  0.011     0
12     13   0011 2015-12-17  1.000     0
13     12   0011 2014-03-20  0.033     0
14     14   0017 2014-03-20  1.000     0
15     15   0018 2014-03-20  1.000     0
16     16   001A 2014-03-20  1.000     0
17     18   001C 2018-02-15  1.000     0
18     17   001C 2014-03-20  0.050     0
19     19   001J 2014-03-20  1.000     0
20     20   001K 2014-03-20  1.000     0
21     21   001L 2014-03-20  1.000     0
22     22   001M 2014-03-20  1.000     0
23     23   001N 2014-03-20  1.000     0
24     24   001R 2014-03-20  1.000     0
25     25   001V 2014-03-20  1.000     0
26     26   001W 2014-03-20  1.000     0
27     27   001X 2014-03-20  1.000     0
28     28   001Y 2014-04-17  1.000     0
29     29   001Z 2014-04-17  1.000     0
30     30   002B 2014-04-17  1.000     0
31     31   002G 2014-04-17  1.000     0
32     32   002J 2014-04-17  1.000     0
33     33   002L 2014-04-17  1.000     0
34     34   002P 2014-04-17  1.000     0
35     35   002S 2014-05-15  1.000     0
36     36   002T 2014-05-15  1.000     0
37     37   002U 2014-05-15  1.000     0
38     38   002V 2014-05-15  1.000     0
39     39   002X 2014-05-15  1.000     0
40     40   002Y 2014-05-15  1.000     0
41     41   0031 2014-05-15  1.000     0
42     42   0033 2014-05-15  1.000     0
43     44   0034 2018-09-20  1.000     0
44     43   0034 2014-05-15  0.003     0
45     46   0039 2018-06-14  1.000     0
46     45   0039 2014-05-15  0.500     0
47     47   003A 2014-05-15  1.000     0
48     48   003D 2014-05-15  1.000     0
49     49   003E 2014-05-15  1.000     0

         index ticker    spdates    adj
0            0   0000 2014-02-20  1.000
1            1   0001 2014-02-20  1.000
2            3   0003 2014-07-17  1.000
3            2   0003 2014-02-20  1.019
4            4   0004 2014-02-20  1.000
...        ...    ...        ...    ...
176005  176005   ZYNE 2015-09-17  1.000
176006  176006   ZYNX 2005-07-14  1.000
176007  176007   ZZE1 2006-04-20  1.000
176008  176008    ZZZ 2015-09-17  1.000
176009  176009   ZZZ1 2011-08-18  1.000

[176010 rows x 4 columns]

In [7]:
cols = ['ticker','spdates','adj']
df_adj = w.open_data(adj, cols)
df_adj['enddt'] = ''
df_adj = df_adj.sort_values(by=['ticker','spdates'],ascending=[1,0]).reset_index()

In [8]:
tickers = df_adj['ticker'].unique()
ticker_list = df_adj['ticker'].to_list()

In [48]:
#tickers
#ticker_list
l=[]

for i in range(0,len(tickers)):
    idx = ticker_list.index(tickers[i])
    l.append(idx)

In [55]:
for i in l:
    df_adj['enddt'][i] = 0

C:\Users\pendr\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\pendr\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [64]:
for i in range (1,len(df_adj)):
    df_adj['enddt'][i] = df_adj['spdates'][i-1]

C:\Users\pendr\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [66]:
for i in l:
    df_adj['enddt'][i] = 0

C:\Users\pendr\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [50]:
len(l)

77981

In [51]:
len(tickers)

77981

In [67]:
df_adj.head(50)

    index ticker    spdates    adj                enddt
0       0   0000 2014-02-20  1.000                    0
1       1   0001 2014-02-20  1.000                    0
2       3   0003 2014-07-17  1.000                    0
3       2   0003 2014-02-20  1.019  2014-07-17 00:00:00
4       4   0004 2014-02-20  1.000                    0
5       5   000R 2014-02-20  1.000                    0
6       7   000V 2016-04-14  1.000                    0
7       6   000V 2014-03-20  0.067  2016-04-14 00:00:00
8       8   000Y 2014-03-20  1.000                    0
9      11   000Z 2018-07-19  1.000                    0
10     10   000Z 2016-10-20  0.033  2018-07-19 00:00:00
11      9   000Z 2014-03-20  0.011  2016-10-20 00:00:00
12     13   0011 2015-12-17  1.000                    0
13     12   0011 2014-03-20  0.033  2015-12-17 00:00:00
14     14   0017 2014-03-20  1.000                    0
15     15   0018 2014-03-20  1.000                    0
16     16   001A 2014-03-20  1.000                    0
17     18   001C 2018-02-15  1.000                    0
18     17   001C 2014-03-20  0.050  2018-02-15 00:00:00
19     19   001J 2014-03-20  1.000                    0
20     20   001K 2014-03-20  1.000                    0
21     21   001L 2014-03-20  1.000                    0
22     22   001M 2014-03-20  1.000                    0
23     23   001N 2014-03-20  1.000                    0
24     24   001R 2014-03-20  1.000                    0
25     25   001V 2014-03-20  1.000                    0
26     26   001W 2014-03-20  1.000                    0
27     27   001X 2014-03-20  1.000                    0
28     28   001Y 2014-04-17  1.000                    0
29     29   001Z 2014-04-17  1.000                    0
30     30   002B 2014-04-17  1.000                    0
31     31   002G 2014-04-17  1.000                    0
32     32   002J 2014-04-17  1.000                    0
33     33   002L 2014-04-17  1.000                    0
34     34   002P 2014-04-17  1.000                    0
35     35   002S 2014-05-15  1.000                    0
36     36   002T 2014-05-15  1.000                    0
37     37   002U 2014-05-15  1.000                    0
38     38   002V 2014-05-15  1.000                    0
39     39   002X 2014-05-15  1.000                    0
40     40   002Y 2014-05-15  1.000                    0
41     41   0031 2014-05-15  1.000                    0
42     42   0033 2014-05-15  1.000                    0
43     44   0034 2018-09-20  1.000                    0
44     43   0034 2014-05-15  0.003  2018-09-20 00:00:00
45     46   0039 2018-06-14  1.000                    0
46     45   0039 2014-05-15  0.500  2018-06-14 00:00:00
47     47   003A 2014-05-15  1.000                    0
48     48   003D 2014-05-15  1.000                    0
49     49   003E 2014-05-15  1.000                    0

In [311]:
def adj_new(file):
    cols = ['ticker','spdates']
    # Open data
    df = w.open_data(file,cols)
    
    df = df.sort_values(by=['ticker','spdates'],ascending=[1,0]).reset_index()
    
    tickers = df['ticker'].unique()
    ticker_list = df['ticker'].to_list()
    
    l=[]
    for i in range(0,len(tickers)):
        x = ticker_list.index(tickers[i])
        l.append(x)
    
    return l

In [314]:
dn = adj_new(adj)

In [316]:
len(dn)

176010

In [306]:
# Create the new adjustment table    
    
def adj1(file):
    cols = ['ticker','spdates']
    # Open data
    df = w.open_data(file,cols)
    
    df = df.sort_values(by=['ticker','spdates'],ascending=[1,0]).reset_index()
    
    tickers = df['ticker'].unique()
    ticker_list = df['ticker'].to_list()
    
    l=[]
    for i in range(0,len(tickers)):
        x = ticker_list.index(tickers[i])
        l.append(x)
    
    df['enddt'] = ''
    
    for i in l:
        df['enddt'][i] = 0
    
    for i in range(0,len(df)):
        if df['enddt'][i] == 0:
            continue
        else:
            df['enddt'][i] = df['spdates'][i-1]

    # df = df.drop[(df['adj'] == 1)]

    return df

In [307]:
df = adj1(adj)

C:\Users\pendr\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\pendr\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [308]:
df

         index ticker    spdates                enddt
0            0   0000 2014-02-20                    0
1            1   0001 2014-02-20                    0
2            3   0003 2014-07-17                    0
3            2   0003 2014-02-20  2014-07-17 00:00:00
4            4   0004 2014-02-20                    0
...        ...    ...        ...                  ...
176005  176005   ZYNE 2015-09-17                    0
176006  176006   ZYNX 2005-07-14                    0
176007  176007   ZZE1 2006-04-20                    0
176008  176008    ZZZ 2015-09-17                    0
176009  176009   ZZZ1 2011-08-18                    0

[176010 rows x 4 columns]

TypeError: first() missing 1 required positional argument: 'offset'

In [5]:
raw_det_epsus = 'D:/wrds/ibes/sasdata/det_epsus.sas7bdat'
w.convert_data(raw_det_epsus)
det_epsus = 'det_epsus'

The file has already been converted. Use force=True to force the conversion.

In [ ]:
def consensus(file_det, file_adjfactors=None, file_adj=None, start_date=[],end_date=[]):
    """Compute the consensus from individual analysts estimates."""
    # Open the det file with the necessary fields
    # cols = ['ticker', 'usfirm', 'curr_act', 'measure', 'fpi', 'actual',
    #        'fpedats']
    det = w.open_data(file_det, cols)
    # Opent the adjustment factors file
    if file_adjfactors is not None:
        adjfactors = w.open_data(file_adjfactors)
    elif file_adj is not None:
        # Need to compute the adustment factors
        adjfactors = _adjustmentfactors(file_adj)
    elif file_adj is None:
        raise Exception("Please provide either the adjustment factor file",
                        " or the adjustment file from IBES.")

    """Fetch analysts forecasts"""
    # Keep quarterly (fpi={6,7,8}) diluted EPS (pdf=D)
    det = det[(det['usfirm'] == 1) & (det['curr_act'] == 'USD') &
              (det['measure'] == 'EPS') & (det['fpi'].isin(['6', '7', '8', '9',
                                                            'N', 'O', 'P', 'Q',
                                                            'R', 'S', 'T', 'L',
                                                            'Y']))].\
        reset_index(drop=True)
    det = det.dropna(subset=['actual'])
    det['fpeyr'] = det['fpedats'].dt.year
    det['fpemon'] = det['fpedats'].dt.month
    # Rename dataframe to improve code readability
    df_afc = det

    """Fetch the adjustment factors""" 
    # Filter the adjustment data
    adjfactors = adjfactors[(adjfactors['usfirm'] == 1)].reset_index(drop=True)
    # Rename dataframe to improve code readability
    df_adj = adjfactors

    df_afc = df_afc.sort_values(by=['ticker', 'fpedats'],
                             ascending=[1, 1]).reset_index()
    
    # Merge the adjustement factors
    df = pd.merge(df_afc, df_adj, on='ticker')
    
    
    """Filter data between start and end dates, then compute unadjusted estimates"""
    # Filter data for forecast period end dates
    # between start date(included) and end date(not included)
    start_date='startdt'
    end_date='enddt'
    df = df[(df['fpedats'] >= df[start_date]) & (
            df['fpedats'] < df[end_date])]
    # Complete the missing ones
    df['adj'] = df['adj'].fillna(1)
    # Compute the unadjusted estimates and eps
    df['uest'] = df['est'] * df['adj']
    df['ueps'] = df['eps'] * df['adj']

    return df['ticker','fpedats','startdt','enddt','est','ueps']

In [64]:
def consensus(file_det, file_adjfactors=None, file_adj=None):
    """Compute the consensus from individual analysts estimates."""
    # Open the det file with the necessary fields
    cols = ['ticker', 'usfirm', 'curr_act', 'measure', 'fpi', 'actual',
            'fpedats']
    det = w.open_data(file_det, cols)
    # Opent the adjustment factors file
    if file_adjfactors is not None:
        adjfactors = w.open_data(file_adjfactors)
    elif file_adj is not None:
        # Need to compute the adustment factors
        adjfactors = _adjustmentfactors(file_adj)
    elif file_adj is None:
        raise Exception("Please provide either the adjustment factor file",
                        " or the adjustment file from IBES.")

    """Fetch analysts forecasts"""
    # Keep quarterly (fpi={6,7,8}) diluted EPS (pdf=D)
    det = det[(det['usfirm'] == 1) & (det['curr_act'] == 'USD') &
              (det['measure'] == 'EPS') & (det['fpi'].isin(['6', '7', '8', '9',
                                                            'N', 'O', 'P', 'Q',
                                                            'R', 'S', 'T', 'L',
                                                            'Y']))].\
        reset_index(drop=True)
    det = det.dropna(subset=['actual'])
    det['fpeyr'] = det['fpedats'].dt.year
    det['fpemon'] = det['fpedats'].dt.month

    """Fetch the management forecast data"""
    # DOES THIS REQUIRE ANOTHER FILE_DET???
    # Add the necessary columns to process the data
    cols_req = key + ['usfirm', 'curr', 'pdicity', 'measure', 'units']
    cols = cols_req + list(set(columns) - set(cols_req))
    # Open ibes data
    df = w.open_data(file, cols)
    # Filter the ibes data
    df = df[(df.usfirm == 1) & (df.curr == 'USD') &
            (df.pdicity == 'QTR') & (df.measure == 'EPS') & (df.units == 'P/S')]

    df['mftims'] = pd.to_datetime(df['anntims'], unit='s').dt.time

    """Fetch the adjustment factors"""  # USE _adjustmentfactors FUNCTION!!
    # Filter the adjustment data
    adjfactors = adjfactors[(adjfactors['usfirm'] == 1)].reset_index(drop=True)

    """Keep the diluted EPS analysts estimates or the primary
    if no diluted available"""
    for i in range(0, len(df_a_forecast)):
        if df_a_forecast['pdf'][i] == 'D':
            continue
        elif df_a_forecast['pdf'][i] == 'P':
            continue
    else:
        df_a_forecast.drop(df_a_forecast.index[i])

    # Keep consistency with SQL code(will rename later)
    df_a1 = df_a_forecast

    # Drop observations where no announcment dates found
    # THESE MAY BE REDUNDANT(NEED TO CHECK)!!!
    df_a1 = df_a1.dropna(subset=['anndats'])
    # Drop if diff btw announcement dates and forecast period dates > 120 days
    df_a2['interval'] = (df_a1['anndats'] - df_a1['fpedats'])
    df_a2['interval'] = df_a2[df_a2['interval'] / np.timedelta64(1, 'D') <= 120]

    """Remove observations where the period btw FPE and EA is more than 120 days 
    and that do not have EA date."""
    # Get the last 2 earnings annoucement dates
    # NEED TO GET INDEX AND GET LAST ANNOUNCEMENT DATES
    # CAN SET MAXPERIOD AS VARIABLE (MAXPERIOD = 120 DAYS)
    df_ann1 = df.sort_values(by=['ticker', 'fpedats'],
                             ascending=[1, 1]).reset_index()
    df_ann1['anndats_l'] = ''
    for i in range(0, len(df_ann1)):
        df_ann1['anndats_l'][i] = df_ann1['anndats'][i - 1]
    df_ann1['anndats_l'] = pd.to_datetime(df_ann1['anndats_l']).dt.floor('d')
    # Calculate the days between current and last announcement dates
    # Name column as interval_l
    df_ann1['interval_l'] = ''
    df_ann1['interval_l'] = df_ann1['anndats'] - df_ann1['anndats_l']
    df_ann1['interval_l'] = df_ann1[
        df_ann1['interval_l'] / np.timedelta64(1, 'D') <= 120]
    # If interval_l >= 120 days, then replace last announcement date
    # with (current announcement date-120 days)
    for i in range(0, len(df_ann1)):
        if df_ann1['interval'][i] < 120:
            continue
        else:
            df_ann1['anndats_l'][i] = df_ann1['anndats'][i] - 120
    # Keep consistency with SQL code(will rename later)
    df_ann2 = df_ann1

    # Last-last announcements dates
    df_ann3 = df_ann2.sort_values(by=['ticker', 'fpedats'],
                                  ascending=[1, 1]).reset_index()
    df_ann3['anndats_ll'] = ''
    for i in range(0, len(df_ann3)):
        df_ann1['anndats_ll'][i] = df_ann3['anndats_l'][i - 1]
    df_ann3['anndats_ll'] = pd.to_datetime(df_ann3['anndats_l']).dt.floor('d')
    # Calculate the days between last and last-last announcement dates
    # Name column as interval_ll
    df_ann3['interval_ll'] = ''
    df_ann3['interval_ll'] = df_ann1['anndats'] - df_ann1['anndats_l']
    df_ann3['interval_ll'] = df_ann1[
        df_ann1['interval_ll'] / np.timedelta64(1, 'D') <= 120]
    # If interval_ll >= 120 days, then replace last-last announcement date
    # with (last announcement date-120 days)
    for i in range(0, len(df_ann3)):
        if df_ann3['interval_ll'][i] < 120:
            continue
        else:
            df_ann1['anndats_ll'][i] = df_ann1['anndats_l'][i] - 120
    # Keep consistency with SQL code(will rename later)
    df_ann4 = df_df_ann3

    # Merge with analysts estimates
    df_a3 = pd.merge(df_a2, d_ann4, on=['ticker', 'fpedats'])

    """Keep MF(t) between EA(t-1) and FPE(t)"""
    # Merge management forecasts with analysts estimates
    # Keep MF(t) between EA(t-1) and FPE(t)
    df_mf1 = pd.merge(d_m_forecast, d_a3, on=['ticker', 'fpeyr', 'fpemon'])
    # Drop duplicates on ticker(itic), fpeyr, fpemon, anndats_l, fpedats
    df_mf1.drop_duplicates(
        subset=['ticker', 'fpeyr', 'fpemon', 'anndats_l', 'fpedats'])
    # Filter data for management forecasts dates between
    # last announcement dates(included) and forecast period end date(included)
    df_mf1 = df_mf1[(df['mfdats'] >= df_mf1['anndats_l']) & (
            df_mf1['mfdats'] <= df_mf1['fpedats'])]
    # Order by ticker(itic), fpeyr, fpemon, mfdats
    df_mf1 = df_mf1.sort_values(by=['ticker', 'fpeyr', 'fpemon', 'mfdats'],
                                ascending=[1, 1, 1, 1]).reset_index()
    # Drop duplicates on ticker(itic), fpeyr, fpemon
    df_mf2 = df_mf1.drop_duplicates(subset=['ticker', 'fpeyr', 'fpemon'])

    # Merge the analysts estimates and management forecast data
    df_amf1 = pd.merge(df_a3, df_mf2,
                       on=['ticker', 'fpedats', 'fpeyr', 'fpemon', 'anndats_l'])

    # Merge the adjustement factors
    df_amf2 = pd.merge(df_amf1, df_adj_factors, on='ticker')

    # Filter data for forecast period end dates
    # between start date(included) and end date(not included)
    df_amf2 = df_amf2[(df_amf2['fpedats'] >= df_amf2['startdt']) & (
            df_amf2['fpedats'] < df_amf2['enddt'])]

    # Complete the missing ones
    df_amf2['adj'] = df_amf2['adj'].fillna(1)

    # Compute the unadjusted estimates and eps
    df_amf3['uest'] = df_amf2['est'] * df_amf2['adj']
    df_amf3['ueps'] = df_amf2['eps'] * df_amf2['adj']

    """Find the Ex-Post and Ex-ante consensus
    depending on disclosure or no-disclosure"""
    # USE _expd and _expnd FUNCTIONS(WILL BE CREATED)!!!

    """Merge dataframes to create consensus"""
    # Round mean estimates to 3 decimal places and rename columns
    df_expost = df_expost.round({'meanest': 3, 'medest': 3})
    df_expost.rename(
        columns={'meansest': 'meanest_exp', 'medest': 'medest_exp'},
        inplace=True)
    df_exante1 = df_exante1.round({'meanest': 3, 'medest': 3})
    df_exante1.rename(
        columns={'meansest': 'meanest_exa1', 'medest': 'medest_exa1'},
        inplace=True)
    df_exante2 = df_exante2.round({'meanest': 3, 'medest': 3})
    df_exante2.rename(
        columns={'meansest': 'meanest_exa2', 'medest': 'medest_exa2'},
        inplace=True)

    # Merge unadjusted consensus with unadjusted estimates and eps
    df = pd.merge(df_amf3, df_expost, on=['ticker', 'fpedats'])
    df = pd.merge(df, df_exante1, on=['ticker', 'fpedats'])
    df = pd.merge(df, df_exante2, on=['ticker', 'fpedats'])

    return df

In [65]:
df = consensus(det_epsus, adj)

In [66]:
df.head(50)

   ticker  fpeyr  fpemon     cusip oftic  actual    spdates  adj
0    0000   2014       3  87482X10  TLMR    0.12 2014-02-20  1.0
1    0000   2014       6  87482X10  TLMR    0.27 2014-02-20  1.0
2    0000   2014       6  87482X10  TLMR    0.27 2014-02-20  1.0
3    0000   2014       9  87482X10  TLMR    0.26 2014-02-20  1.0
4    0000   2014       9  87482X10  TLMR    0.26 2014-02-20  1.0
5    0000   2014       9  87482X10  TLMR    0.26 2014-02-20  1.0
6    0000   2014      12  87482X10  TLMR    0.16 2014-02-20  1.0
7    0000   2014      12  87482X10  TLMR    0.16 2014-02-20  1.0
8    0000   2014      12  87482X10  TLMR    0.16 2014-02-20  1.0
9    0000   2014      12  87482X10  TLMR    0.16 2014-02-20  1.0
10   0000   2015       3  87482X10  TLMR    0.12 2014-02-20  1.0
11   0000   2015       3  87482X10  TLMR    0.12 2014-02-20  1.0
12   0000   2015       3  87482X10  TLMR    0.12 2014-02-20  1.0
13   0000   2015       3  87482X10  TLMR    0.12 2014-02-20  1.0
14   0000   2015       3  87482X10  TLMR    0.12 2014-02-20  1.0
15   0000   2015       6  87482X10  TLMR    0.23 2014-02-20  1.0
16   0000   2015       6  87482X10  TLMR    0.23 2014-02-20  1.0
17   0000   2015       6  87482X10  TLMR    0.23 2014-02-20  1.0
18   0000   2015       6  87482X10  TLMR    0.23 2014-02-20  1.0
19   0000   2015       6  87482X10  TLMR    0.23 2014-02-20  1.0
20   0000   2015       6  87482X10  TLMR    0.23 2014-02-20  1.0
21   0000   2015       9  87482X10  TLMR    0.27 2014-02-20  1.0
22   0000   2015       9  87482X10  TLMR    0.27 2014-02-20  1.0
23   0000   2015       9  87482X10  TLMR    0.27 2014-02-20  1.0
24   0000   2015       9  87482X10  TLMR    0.27 2014-02-20  1.0
25   0000   2015       9  87482X10  TLMR    0.27 2014-02-20  1.0
26   0000   2015       9  87482X10  TLMR    0.27 2014-02-20  1.0
27   0000   2015      12  87482X10  TLMR    0.40 2014-02-20  1.0
28   0000   2015      12  87482X10  TLMR    0.40 2014-02-20  1.0
29   0000   2015      12  87482X10  TLMR    0.40 2014-02-20  1.0
30   0000   2015      12  87482X10  TLMR    0.40 2014-02-20  1.0
31   0000   2015      12  87482X10  TLMR    0.40 2014-02-20  1.0
32   0000   2015      12  87482X10  TLMR    0.40 2014-02-20  1.0
33   0000   2015      12  87482X10  TLMR    0.40 2014-02-20  1.0
34   0000   2015      12  87482X10  TLMR    0.40 2014-02-20  1.0
35   0000   2016       3  87482X10  TLMR    0.28 2014-02-20  1.0
36   0000   2016       3  87482X10  TLMR    0.28 2014-02-20  1.0
37   0000   2016       3  87482X10  TLMR    0.28 2014-02-20  1.0
38   0000   2016       3  87482X10  TLMR    0.28 2014-02-20  1.0
39   0000   2016       3  87482X10  TLMR    0.28 2014-02-20  1.0
40   0000   2016       3  87482X10  TLMR    0.28 2014-02-20  1.0
41   0000   2016       3  87482X10  TLMR    0.28 2014-02-20  1.0
42   0000   2016       3  87482X10  TLMR    0.28 2014-02-20  1.0
43   0000   2016       6  87482X10  TLMR    0.28 2014-02-20  1.0
44   0000   2016       6  87482X10  TLMR    0.28 2014-02-20  1.0
45   0000   2016       6  87482X10  TLMR    0.28 2014-02-20  1.0
46   0000   2016       6  87482X10  TLMR    0.28 2014-02-20  1.0
47   0000   2016       6  87482X10  TLMR    0.28 2014-02-20  1.0
48   0000   2016       6  87482X10  TLMR    0.28 2014-02-20  1.0
49   0000   2016       6  87482X10  TLMR    0.28 2014-02-20  1.0

In [5]:
# Fetch analysts forecasts
# Keep quarterly (fpi={6,7,8}) diluted EPS (pdf=D)

def get_a_forecast(file,columns,key=['ticker']):

    # Add the necessary columns to process the data
    cols_req = key + ['usfirm', 'curr_act', 'measure', 'actual', 'fpi']
    cols = cols_req + list(set(columns) - set(cols_req))
    # Open ibes data
    df = w.open_data(file, cols)
    # Filter the ibes data
    df = df[(df['usfirm'] == 1) & (df['curr_act'] == 'USD') &
            (df['measure'] == 'EPS') & (df['fpi'].isin(['6','7','8','9','N','O','P','Q','R','S','T','L','Y']))]
    df = df.dropna(subset=['actual'])
    
    df['fpeyr'] = df['fpedats'].dt.year 
    df['fpemon'] = df['fpedats'].dt.month
    
    df['esttims'] = pd.to_datetime(df['anntims'], unit='s').dt.time
    df['anntims'] = pd.to_datetime(df['anntims_act'], unit='s').dt.time
    
    # Check for duplicates on the key
    n_dup = df.shape[0] - df[key].drop_duplicates().shape[0]
    if n_dup > 0:
        print("Warning: The data contains {:} duplicates".format(n_dup))
    
    return df

In [283]:
columns = ['ticker','cusip','oftic','fpedats','anndats','anntims','analys','value','anndats_act','anntims_act','actual','pdf']
df_a_forecast = get_a_forecast(det_epsus,columns)

Warning: The data contains 47792 duplicates

In [284]:
df_a_forecast

,ticker,usfirm,curr_act,measure,actual,fpi,anndats_act,pdf,analys,anntims_act,oftic,cusip,anntims,anndats,fpedats,value,fpeyr,fpemon,esttims
1,0000,1.0,USD,EPS,0.12,6,2014-05-06,D,548311.0,38700.0,TLMR,87482X10,10:45:00,2014-03-09,2014-03-31,0.30,2014,3,17:05:00
2,0000,1.0,USD,EPS,0.12,6,2014-05-06,D,50789.0,38700.0,TLMR,87482X10,10:45:00,2014-03-10,2014-03-31,0.23,2014,3,07:45:00
3,0000,1.0,USD,EPS,0.12,6,2014-05-06,D,80474.0,38700.0,TLMR,87482X10,10:45:00,2014-03-10,2014-03-31,0.35,2014,3,06:48:00
4,0000,1.0,USD,EPS,0.12,6,2014-05-06,D,603896.0,38700.0,TLMR,87482X10,10:45:00,2014-03-10,2014-03-31,0.37,2014,3,00:25:00
5,0000,1.0,USD,EPS,0.12,6,2014-05-06,D,538750.0,38700.0,TLMR,87482X10,10:45:00,2014-03-17,2014-03-31,0.41,2014,3,20:05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99448,008A,1.0,USD,EPS,-3.28,9,2019-08-06,D,115366.0,23400.0,SAGE,78667J10,06:30:00,2018-10-31,2019-06-30,-2.39,2019,6,14:15:00
99449,008A,1.0,USD,EPS,-3.28,N,2019-08-06,D,179278.0,23400.0,SAGE,78667J10,06:30:00,2018-05-03,2019-06-30,-2.02,2019,6,13:48:00
99450,008A,1.0,USD,EPS,-3.28,N,2019-08-06,D,115366.0,23400.0,SAGE,78667J10,06:30:00,2018-06-06,2019-06-30,-2.45,2019,6,06:34:00
99451,008A,1.0,USD,EPS,-3.28,N,2019-08-06,D,171629.0,23400.0,SAGE,78667J10,06:30:00,2018-08-06,2019-06-30,-2.83,2019,6,16:06:00
99452,008A,1.0,USD,EPS,-3.28,N,2019-08-06,D,188576.0,23400.0,SAGE,78667J10,06:30:00,2018-08-06,2019-06-30,-2.14,2019,6,00:13:00

In [ ]:
####################################

In [ ]:
############################

In [8]:
raw_det_guidance = 'D:/wrds/ibes/sasdata/det_guidance.sas7bdat'
w.convert_data(raw_det_guidance)
det_guidance = 'det_guidance'

The file has already been converted. Use force=True to force the conversion.

In [9]:
# Fetch the management forecast data

def get_m_forecast(file,columns,key=['ticker']):

    # Add the necessary columns to process the data
    cols_req = key + ['usfirm', 'curr', 'pdicity', 'measure', 'units']
    cols = cols_req + list(set(columns) - set(cols_req))
    # Open ibes data
    df = w.open_data(file, cols)
    # Filter the ibes data
    df = df[(df.usfirm == 1) & (df.curr == 'USD') &
            (df.pdicity == 'QTR') & (df.measure == 'EPS') & (df.units == 'P/S')]
    
    df['mftims'] = pd.to_datetime(df['anntims'], unit='s').dt.time
    
    # Check for duplicates on the key
    n_dup = df.shape[0] - df[key].drop_duplicates().shape[0]
    if n_dup > 0:
        print("Warning: The data contains {:} duplicates".format(n_dup))
    
    return df

In [10]:
columns = ['ticker','anndats','anntims','prd_yr','prd_mon','val_1','val_2','mean_at_date']
df_m_forecast = get_m_forecast(det_guidance,columns)

Warning: The data contains 72994 duplicates

In [11]:
df_m_forecast.head()

,ticker,usfirm,curr,pdicity,measure,units,val_2,mean_at_date,anntims,anndats,val_1,prd_yr,prd_mon,mftims
49,000R,1.0,USD,QTR,EPS,P/S,-0.23,-0.287,21600.0,2014-05-01,-0.28,2014.0,6.0,06:00:00
51,000R,1.0,USD,QTR,EPS,P/S,-0.37,-0.350,21600.0,2014-07-31,-0.44,2014.0,9.0,06:00:00
52,000R,1.0,USD,QTR,EPS,P/S,-0.02,-0.043,72300.0,2014-10-29,-0.06,2014.0,12.0,20:05:00
54,000R,1.0,USD,QTR,EPS,P/S,-0.31,-0.310,21600.0,2015-03-19,-0.33,2015.0,3.0,06:00:00
56,000R,1.0,USD,QTR,EPS,P/S,-0.24,-0.168,21900.0,2015-08-04,-0.27,2015.0,9.0,06:05:00

In [ ]:
#######################################

In [ ]:
######################################333

In [11]:
raw_adj = 'D:/wrds/ibes/sasdata/adj.sas7bdat'
w.convert_data(raw_adj)
adj = 'adj'

The file has already been converted. Use force=True to force the conversion.

In [26]:
# Fetch the adjustment factors

def adjustments(file, colu):

    # Add the necessary columns to process the data
    cols_req = key + ['usfirm']
    cols = cols_req + list(set(columns) - set(cols_req))
    # Open funda data
    df = w.open_data(file, cols)
    # Filter the funda data
    df = df[(df.usfirm == 1)]
    
    # Check for duplicates on the key
    n_dup = df.shape[0] - df[key].drop_duplicates().shape[0]
    if n_dup > 0:
        print("Warning: The data contains {:} duplicates".format(n_dup))
    return df

In [27]:
columns = []
df_adj = adjustments(adj,columns)

In [15]:
df_adj

       ticker  usfirm
0        0000     1.0
1        0001     1.0
4        0004     1.0
5        000R     1.0
6        000V     1.0
...       ...     ...
175994   ZXIS     1.0
175997   ZXZX     1.0
175998     ZY     1.0
176005   ZYNE     1.0
176006   ZYNX     1.0

[23236 rows x 2 columns]

In [ ]:
##############################

In [ ]:
############################3

In [70]:
#Create a statistics table that includes:
# - numanalys    Number of distinct analysts by firm-forecast period

def numanalys(file_det):
    """Return the number of analysts for each (itic, fpedats)."""
    # Open the det file with the necessary fields
    cols = ['ticker','fpedats','analys']
    det = w.open_data(file_det, cols)

    # Solution 2
    df = det.groupby(['ticker','fpedats'])['analys'].nunique().reset_index()
    df.rename(columns={'analys':'numanalys'}, inplace=True)

    return df

In [72]:
df_ibes_stats = numanalys(det_epsus)

In [74]:
df_ibes_stats.head(50)

   ticker    fpedats  numanalys
0    0000 2014-01-31          1
1    0000 2014-03-31          5
2    0000 2014-04-30          1
3    0000 2014-06-30          5
4    0000 2014-07-31          1
5    0000 2014-09-30          5
6    0000 2014-10-31          1
7    0000 2014-12-31          6
8    0000 2015-01-31          1
9    0000 2015-03-31          6
10   0000 2015-06-30          6
11   0000 2015-09-30          7
12   0000 2015-12-31          7
13   0000 2016-03-31          6
14   0000 2016-06-30          6
15   0000 2016-09-30          6
16   0000 2016-12-31          7
17   0000 2017-03-31          4
18   0000 2017-06-30          4
19   0000 2017-09-30          4
20   0000 2017-12-31          6
21   0000 2018-12-31          1
22   0001 2013-06-30          1
23   0001 2013-09-30          1
24   0001 2013-12-31          9
25   0001 2014-03-31         20
26   0001 2014-06-30         20
27   0001 2014-09-30         22
28   0001 2014-12-31         27
29   0001 2015-03-31         28
30   0001 2015-06-30         33
31   0001 2015-09-30         32
32   0001 2015-12-31         37
33   0001 2016-03-31         26
34   0001 2016-06-30         29
35   0001 2016-09-30         30
36   0001 2016-12-31         38
37   0001 2017-03-31         28
38   0001 2017-06-30         30
39   0001 2017-09-30         31
40   0001 2017-12-31         41
41   0001 2018-03-31         25
42   0001 2018-06-30         24
43   0001 2018-09-30         24
44   0001 2018-12-31         30
45   0001 2019-03-31         21
46   0001 2019-06-30         20
47   0001 2019-09-30         20
48   0001 2019-12-31         24
49   0001 2020-03-31         10

In [ ]:
####################

In [ ]:
######################

In [39]:
# Select the firms that have at least n split

def itic_split(file,columns,n):
    
    df = df.groupby(['ticker'])['ticker'].count().to_frame('ticker_counts')
    
    df = df[(df['ticker_counts'] >= n)]

    return df

In [44]:
df_itic_split = itic_split(df_adj,1)

In [45]:
df_itic_split.head()

        ticker_counts
ticker
0000                1
0001                1
0004                1
000R                1
000V                1

In [ ]:
#################

In [ ]:
#####################

In [181]:
# Create the new adjustment table    
    
def adj1(file,columns, key=['ticker']):
    
    cols_req = key + ['spdates']
    cols = cols_req + list(set(columns) - set(cols_req))
    
    # Open data
    df = w.open_data(file)
    
    df = df.sort_values(by=['ticker','spdates'],ascending=[1,0]).reset_index()
    
    tickers = df['ticker'].unique()
    ticker_list = df['ticker'].to_list()
    
    l=[]
    for i in range(0,len(tickers)):
        x = ticker_list.index(tickers[i])
        l.append(x)
    
    df['enddt'] = ''
    
    for i in l:
        df['enddt'][i] = 0
    
    for i in range(0,len(df)):
        if df['enddt'][i] == 0:
            continue
        else:
            df['enddt'][i] = df['spdates'][i-1]

    # df = df.drop[(df['adj'] == 1)]

    return df

In [182]:
columns = ['ticker','spdates']
df1 = adj1(adj,columns)

C:\Users\pendr\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\pendr\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [184]:
df1.head(50)

,index,ticker,cusip,oftic,cname,spdates,adj,usfirm,enddt
0,0,0000,87482X10,TLMR,TALMER BANCORP,2014-02-20,1.000,1.0,0
1,1,0001,26878510,EPE,EP ENERGY,2014-02-20,1.000,1.0,0
2,3,0003,66515910,FFF,NORTHN FRONTIER,2014-07-17,1.000,0.0,0
3,2,0003,66515910,FFF,NORTHN FRONTIER,2014-02-20,1.019,0.0,2014-07-17 00:00:00
4,4,0004,02504D10,ACSF,AMERICAN CAPITAL,2014-02-20,1.000,1.0,0
5,5,000R,14163310,CRCM,CARECOM,2014-02-20,1.000,1.0,0
6,7,000V,28249U10,EIGR,EIGER,2016-04-14,1.000,1.0,0
7,6,000V,15117E10,CLDN,CELLADON,2014-03-20,0.067,1.0,2016-04-14 00:00:00
8,8,000Y,90400D10,RARE,ULTRAGENYX,2014-03-20,1.000,1.0,0
9,11,000Z,09072V40,BIOC,BIOCEPT,2018-07-19,1.000,1.0,0
10,10,000Z,09072V20,BIOC,BIOCEPT,2016-10-20,0.033,1.0,2018-07-19 00:00:00
11,9,000Z,09072V10,BIOC,BIOCEPT,2014-03-20,0.011,1.0,2016-10-20 00:00:00
12,13,0011,G0702110,HELI,CHC GRP,2015-12-17,1.000,1.0,0
13,12,0011,G0702110,HELI,CHC GROUP,2014-03-20,0.033,1.0,2015-12-17 00:00:00
14,14,0017,05211J10,ASPX,AUSPEX PHARMA,2014-03-20,1.000,1.0,0
15,15,0018,28226B10,EGLT,EGALET,2014-03-20,1.000,1.0,0
16,16,001A,28622110,EBIO,ELEVEN,2014-03-20,1.000,1.0,0
17,18,001C,04022120,ARGS,ARGOS,2018-02-15,1.000,1.0,0
18,17,001C,04022110,ARGS,ARGOS,2014-03-20,0.050,1.0,2018-02-15 00:00:00
19,19,001J,49926D10,KN,KNOWLES,2014-03-20,1.000,1.0,0
20,20,001K,45780R10,IBP,IBP,2014-03-20,1.000,1.0,0
21,21,001L,20602210,CNCE,CONCERT PHARMA,2014-03-20,1.000,1.0,0
22,22,001M,45780L10,INGN,INOGEN,2014-03-20,1.000,1.0,0
23,23,001N,22265J10,COUP,COUPONS.COM,2014-03-20,1.000,1.0,0
24,24,001R,12640Y20,CSRE,CSR PLC,2014-03-20,1.000,1.0,0
25,25,001V,03702510,ATE,ANTIBE,2014-03-20,1.000,0.0,0
26,26,001W,46111Q10,IT,INTERTAIN GROUP,2014-03-20,1.000,0.0,0
27,27,001X,75629F10,REPH,RECRO PHARMA,2014-03-20,1.000,1.0,0
28,28,001Y,49905310,GUD,KNIGHT,2014-04-17,1.000,0.0,0
29,29,001Z,G5258J10,KING,KING DIGITAL,2014-04-17,1.000,1.0,0
30,30,002B,58471D10,MDNT,MEDIENT STUDIOS,2014-04-17,1.000,1.0,0
31,31,002G,14862Q10,CSLT,CASTLIGHT HEALTH,2014-04-17,1.000,1.0,0
32,32,002J,70438V10,PCTY,PAYLOCITY HLDG,2014-04-17,1.000,1.0,0
33,33,002L,02318Y10,AMBR,AMBER ROAD,2014-04-17,1.000,1.0,0
34,34,002P,00212110,ATEN,A10 NETWORKS,2014-04-17,1.000,1.0,0
35,35,002S,60786M10,MC,MOELIS CO,2014-05-15,1.000,1.0,0
36,36,002T,14987J10,CBSO,CBS OUTDOOR,2014-05-15,1.000,1.0,0
37,37,002U,94859610,WB,WEIBO,2014-05-15,1.000,1.0,0
38,38,002V,Q2296410,CIA,CHAMPION IRON,2014-05-15,1.000,0.0,0
39,39,002X,45778G10,IGE,INNOVENTE,2014-05-15,1.000,0.0,0
40,40,002Y,G6583A10,NORD,NORD ANGLIA EDU,2014-05-15,1.000,1.0,0
41,41,0031,21887L10,CORI,CORIUM INTL,2014-05-15,1.000,1.0,0
42,42,0033,68375Y10,OPWR,OPOWER,2014-05-15,1.000,1.0,0
43,44,0034,20653P40,CXR,CONCORDIA HLTHCR,2018-09-20,1.000,0.0,0
44,43,0034,20651910,CXR,CONCORDIA HLTHCR,2014-05-15,0.003,0.0,2018-09-20 00:00:00
45,46,0039,50420D10,LQ,LA QUINTA,2018-06-14,1.000,1.0,0
46,45,0039,50420D10,LQ,LA QUINTA HLDGS,2014-05-15,0.500,1.0,2018-06-14 00:00:00
47,47,003A,00548A10,ADMS,ADAMAS PHARMA,2014-05-15,1.000,1.0,0
48,48,003D,09627J10,BRG,BLUEROCK,2014-05-15,1.000,1.0,0
49,49,003E,31154R10,FPI,FARMLAND PRTNRS,2014-05-15,1.000,1.0,0

In [ ]:
###################################

In [ ]:
############################################

In [187]:
# Create an adjustment factor table with a start and end date for each factor.

def _adjustmentfactors(file,columns,key=['ticker']):

    cols_req = key + ['spdates']
    cols = cols_req + list(set(columns) - set(cols_req))
    
    # Open data
    df = w.open_data(file)
    
    df = df.sort_values(by=['ticker','spdates'],ascending=[1,1]).reset_index()
    
    tickers = df['ticker'].unique()
    ticker_list = df['ticker'].to_list()
    
    l=[]
    for i in range(0,len(tickers)):
        x = ticker_list.index(tickers[i])
        l.append(x)
    
    df['startdt'] = ''
    
    for i in l:
        df['startdt'][i] = 0
    
    for i in range(0,len(df)):
        if df['startdt'][i] == 0:
            continue
        else:
            df['startdt'][i] = df['spdates'][i]
    
    return df

In [188]:
columns = ['ticker','spdates']
df2 = _adjustmentfactors(adj,columns)

C:\Users\pendr\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\pendr\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [190]:
df2.head(20)

,index,ticker,cusip,oftic,cname,spdates,adj,usfirm,startdt
0,0,0000,87482X10,TLMR,TALMER BANCORP,2014-02-20,1.000,1.0,0
1,1,0001,26878510,EPE,EP ENERGY,2014-02-20,1.000,1.0,0
2,2,0003,66515910,FFF,NORTHN FRONTIER,2014-02-20,1.019,0.0,0
3,3,0003,66515910,FFF,NORTHN FRONTIER,2014-07-17,1.000,0.0,2014-07-17 00:00:00
4,4,0004,02504D10,ACSF,AMERICAN CAPITAL,2014-02-20,1.000,1.0,0
5,5,000R,14163310,CRCM,CARECOM,2014-02-20,1.000,1.0,0
6,6,000V,15117E10,CLDN,CELLADON,2014-03-20,0.067,1.0,0
7,7,000V,28249U10,EIGR,EIGER,2016-04-14,1.000,1.0,2016-04-14 00:00:00
8,8,000Y,90400D10,RARE,ULTRAGENYX,2014-03-20,1.000,1.0,0
9,9,000Z,09072V10,BIOC,BIOCEPT,2014-03-20,0.011,1.0,0
10,10,000Z,09072V20,BIOC,BIOCEPT,2016-10-20,0.033,1.0,2016-10-20 00:00:00
11,11,000Z,09072V40,BIOC,BIOCEPT,2018-07-19,1.000,1.0,2018-07-19 00:00:00
12,12,0011,G0702110,HELI,CHC GROUP,2014-03-20,0.033,1.0,0
13,13,0011,G0702110,HELI,CHC GRP,2015-12-17,1.000,1.0,2015-12-17 00:00:00
14,14,0017,05211J10,ASPX,AUSPEX PHARMA,2014-03-20,1.000,1.0,0
15,15,0018,28226B10,EGLT,EGALET,2014-03-20,1.000,1.0,0
16,16,001A,28622110,EBIO,ELEVEN,2014-03-20,1.000,1.0,0
17,17,001C,04022110,ARGS,ARGOS,2014-03-20,0.050,1.0,0
18,18,001C,04022120,ARGS,ARGOS,2018-02-15,1.000,1.0,2018-02-15 00:00:00
19,19,001J,49926D10,KN,KNOWLES,2014-03-20,1.000,1.0,0

In [ ]:
###################

In [57]:
#######################

In [285]:
def _a2(df):
    
    # Create _id_p
    # df = df.groupby(['ticker','fpedats'])['pdf'].max().reset_index()
    # df = df[df['pdf1'] == 'P']
    
    # Create _a1
    df = df[df['pdf'] == 'D']
    
    # Drop when 'anndats' is null
    df = df.dropna(subset=['anndats'])
    
    # Drop if 'anndats'-'fpedats' <= 120 days
    df['interval'] = (df['anndats']-df['fpedats'])
    df[df['interval']/np.timedelta64(1, 'D')<=120]

    return df

In [286]:
df5 = _a2(df_a_forecast)

In [290]:
df5

,ticker,usfirm,curr_act,measure,actual,fpi,anndats_act,pdf,analys,anntims_act,oftic,cusip,anntims,anndats,fpedats,value,fpeyr,fpemon,esttims,interval
1,0000,1.0,USD,EPS,0.12,6,2014-05-06,D,548311.0,38700.0,TLMR,87482X10,10:45:00,2014-03-09,2014-03-31,0.30,2014,3,17:05:00,-22 days
2,0000,1.0,USD,EPS,0.12,6,2014-05-06,D,50789.0,38700.0,TLMR,87482X10,10:45:00,2014-03-10,2014-03-31,0.23,2014,3,07:45:00,-21 days
3,0000,1.0,USD,EPS,0.12,6,2014-05-06,D,80474.0,38700.0,TLMR,87482X10,10:45:00,2014-03-10,2014-03-31,0.35,2014,3,06:48:00,-21 days
4,0000,1.0,USD,EPS,0.12,6,2014-05-06,D,603896.0,38700.0,TLMR,87482X10,10:45:00,2014-03-10,2014-03-31,0.37,2014,3,00:25:00,-21 days
5,0000,1.0,USD,EPS,0.12,6,2014-05-06,D,538750.0,38700.0,TLMR,87482X10,10:45:00,2014-03-17,2014-03-31,0.41,2014,3,20:05:00,-14 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99448,008A,1.0,USD,EPS,-3.28,9,2019-08-06,D,115366.0,23400.0,SAGE,78667J10,06:30:00,2018-10-31,2019-06-30,-2.39,2019,6,14:15:00,-242 days
99449,008A,1.0,USD,EPS,-3.28,N,2019-08-06,D,179278.0,23400.0,SAGE,78667J10,06:30:00,2018-05-03,2019-06-30,-2.02,2019,6,13:48:00,-423 days
99450,008A,1.0,USD,EPS,-3.28,N,2019-08-06,D,115366.0,23400.0,SAGE,78667J10,06:30:00,2018-06-06,2019-06-30,-2.45,2019,6,06:34:00,-389 days
99451,008A,1.0,USD,EPS,-3.28,N,2019-08-06,D,171629.0,23400.0,SAGE,78667J10,06:30:00,2018-08-06,2019-06-30,-2.83,2019,6,16:06:00,-328 days
99452,008A,1.0,USD,EPS,-3.28,N,2019-08-06,D,188576.0,23400.0,SAGE,78667J10,06:30:00,2018-08-06,2019-06-30,-2.14,2019,6,00:13:00,-328 days

In [ ]:
#############3

In [ ]:
#############

In [314]:
def _ann1(df):
    
    df = df.groupby(['ticker','fpedats','anndats'])['analys'].nunique().reset_index()
    df = df.sort_values(by=['ticker','fpedats'],ascending=[1,1]).reset_index()
    
    
    df['anndats_l'] = ''
    
    for i in range(0,len(df)):
        df['anndats_l'][i] = df['anndats'][i]
        
    df['anndats_l'] = pd.to_datetime(df['anndats_l']).dt.floor('d')
        
    
    return df

In [315]:
df6 = _ann1(df5)

C:\Users\pendr\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [316]:
df6

       index ticker    fpedats    anndats  analys  anndats_l
0          0   0000 2014-03-31 2014-03-09       1 2014-03-09
1          1   0000 2014-03-31 2014-03-10       3 2014-03-10
2          2   0000 2014-03-31 2014-03-17       2 2014-03-17
3          3   0000 2014-03-31 2014-04-04       1 2014-04-04
4          4   0000 2014-03-31 2014-04-07       2 2014-04-07
...      ...    ...        ...        ...     ...        ...
28382  28382   008A 2019-06-30 2019-04-26       1 2019-04-26
28383  28383   008A 2019-06-30 2019-05-02      16 2019-05-02
28384  28384   008A 2019-06-30 2019-05-03       1 2019-05-03
28385  28385   008A 2019-06-30 2019-05-06       1 2019-05-06
28386  28386   008A 2019-06-30 2019-05-22       1 2019-05-22

[28387 rows x 6 columns]

In [ ]:
###########

In [ ]:
################

In [324]:
def _ann2(df):
    
    df['interval'] = ''
    
    df['interval'] = df['anndats']-df['anndats_l']
    df['interval'] = df[df['interval']/np.timedelta64(1, 'D')<=120]
    
#    for i in range(0,len(df)):
#        if df['interval'][i] < 120:
#            continue
#        else:
 #           df['anndats_l'][i] = df['anndats'][i] - 120
    
    return df

In [353]:
def _ann3(df):
    
    df = df.sort_values(by=['ticker','fpedats'],ascending=[1,1]).reset_index()
    
    df['anndats_ll'] = ''
    
    for i in range(1,len(df)):
        df['anndats_ll'][i] = df['anndats_l'][i-1]
    
    return df

In [ ]:
def _ann4(df):
    
    df['interval'] = df['anndats_l']-df['anndats_ll']
    df['interval'] = df[df['interval']/np.timedelta64(1, 'D')
    
#    for i in range(0,len(df)):
#        if df['interval'][i]<120:
#            continue
#        else:
#            df['anndats_ll'][i] = df['anndats_l'][i] - 120  
    
    return df

In [ ]:
# Merge with analysts estimates

def _a3(df_a2, df_ann4):
    
    df = pd.merge(d1,d2,on=['ticker','fpedats'])
    
    return df

In [ ]:
def _mf1(df_m_forecast, df_a3):

    df = pd.merge(d1,d2,on=['ticker','fpeyr','fpemon'])
    
    df.drop_duplicates(subset = ['ticker', 'fpeyr', 'fpemon', 'anndats_l', 'fpedats')
    
    return df

In [ ]:
def _mf2(df_mf1):
    
    df = df[(df['mfdats'] >= df['anndats_l']) & (df['mfdats'] <= df['fpedats'])]
    
    df = df.sort_values(by=['ticker','fpeyr', 'fpemon', 'mfdats'],ascending=[1,1,1,1]).reset_index()
    
    df.drop_duplicates(subset = ['ticker', 'fpeyr', 'fpemon'])
    
    return df

In [ ]:
# Merge the analysts estimates and management forecast data

def _amf1(df_a3, df_mf2):
    
    df = pd.merge(df_a3,df_mf2,on=['ticker','fpedats', 'fpeyr', 'fpemon', 'anndats_l'])
    
    return df

In [ ]:
# Merge the adjustement factors

def _amf2(df_amf1, df_adj_factors):
    
    df = pd.merge(df_a3,df_mf2,on='ticker')
    
#    if df['startdt'] == 0:
#        df['fpedats'] < df['enddt']
#    else:
#        df['fpedats'] >= df['startdt']
#        df['fpedats'] < df['enddt']
    
    df['adj'] = df['adj'].fillna(1)

    return df

In [ ]:
# Compute the unajusted estimates and eps

def _amf3(df):
    
    df['uest'] = df['est'] * df['adj']    
    df['ueps'] = df['eps'] * df['adj']
    
    return df

In [ ]:
# Ex-Post consensus when disclosure 

def _expd_est(df):
    
    df = df.dropna(subset=['mfdats'])
    df = df[(df['estdats'] >= df['mfdats']) & (df['estdats'] <= df['fpedats'])
    
    df['temp'] = df['estdats'] + df['esttims']
            
    df = df.sort_values(by=['ticker','fpedats', 'temp'],ascending=[1,1,0]).reset_index()
    
#   n<=5
            
    return df

In [ ]:
# Compute the unadjusted consensus

def _expd(df, n=0.5):
    
    df['meanest'] = df['uest'].mean()
    
#    df['medest'] = 

#    df.groupby['ticker','fpedats']
    
    return df

In [ ]:
def _expnd_est():
    
    # Similar to _expd_est, possible to create one function

In [ ]:
def _expnd():
    
    # Similar to _expd, possible to create one function

In [ ]:
# Merge ex-post disclosures

def _exp(df_expd, df_expnd):
    
    df = pd.merge(df_expd, df_expnd, how='inner')
    
    return df

In [ ]:
# Ex-Ante disclosure number 1: when MF(t) > EA(t-1)

def _exa1_est():
    
    # Similar to _expd_est, possible to create one function

In [ ]:
def _exa1():
    
    # Similar to _expd, possible to create one function

In [ ]:
def _exa2_est():
    
    # Similar to _expd_est, possible to create one function

In [ ]:
def _exa2():
    
    # Similar to _expd, possible to create one function

In [ ]:
# Merge all

def ibes_consensus(df_amf3, df_exp, df_exa1, df_exa2):
    
    # Rounding
    
    df = pd.merge(df_amf3, df_exp, on=['ticker', 'fpedats'])
    df = pd.merge(df, df_exa1, on=['ticker', 'fpedats'])
    df = pd.merge(df, df_exa2, on=['ticker', 'fpedats'])
    
    df.drop_duplicates(subset = ['ticker', 'fpedats', 'fpeyr', 'fpemon', 'anndats', 'mfdats', 'eps,val_1', 'val_2', 'mean_at_date'])
    
    return df

In [ ]:
"""Find the Ex-Post and Ex-ante consensus
depending on disclosure or no-disclosure"""
# USE _expd and _expnd FUNCTIONS(WILL BE CREATED)!!!

"""Merge dataframes to create consensus"""
# Round mean estimates to 3 decimal places and rename columns
df_expost = df_expost.round({'meanest': 3, 'medest': 3})
df_expost.rename(
    columns={'meansest': 'meanest_exp', 'medest': 'medest_exp'},
    inplace=True)
df_exante1 = df_exante1.round({'meanest': 3, 'medest': 3})
df_exante1.rename(
    columns={'meansest': 'meanest_exa1', 'medest': 'medest_exa1'},
    inplace=True)
df_exante2 = df_exante2.round({'meanest': 3, 'medest': 3})
df_exante2.rename(
    columns={'meansest': 'meanest_exa2', 'medest': 'medest_exa2'},
    inplace=True)

In [ ]:
"""Remove observations where the period btw FPE and EA is more than 120 days 
and that do not have EA date."""
# Get the last 2 earnings annoucement dates
# NEED TO GET INDEX AND GET LAST ANNOUNCEMENT DATES
# CAN SET MAXPERIOD AS VARIABLE (MAXPERIOD = 120 DAYS)
df_afc['anndats_l'] = ''
for i in range(0, len(df_ann1)):
    df_afc['anndats_l'][i] = df_afc['anndats'][i - 1]
df_afc['anndats_l'] = pd.to_datetime(df_afc['anndats_l']).dt.floor('d')
# Calculate the days between current and last announcement dates
# Name column as interval_l
df_afc['interval_l'] = ''
df_afc['interval_l'] = df_ann1['anndats'] - df_ann1['anndats_l']
df_afc['interval_l'] = df_ann1[
df_afc['interval_l'] / np.timedelta64(1, 'D') <= 120]
# If interval_l >= 120 days, then replace last announcement date
# with (current announcement date-120 days)
for i in range(0, len(df_afc)):
    if df_afc['interval'][i] < 120:
        continue
    else:
        df_afc['anndats_l'][i] = df_afc['anndats'][i] - 120

# Last-last announcements dates
df_afc = df_afc.sort_values(by=['ticker', 'fpedats'],
                              ascending=[1, 1]).reset_index()
df_afc['anndats_ll'] = ''
for i in range(0, len(df_afc)):
    df_afc['anndats_ll'][i] = df_afc['anndats_l'][i - 1]
df_ann3['anndats_ll'] = pd.to_datetime(df_ann3['anndats_l']).dt.floor('d')
# Calculate the days between last and last-last announcement dates
# Name column as interval_ll
df_afc['interval_ll'] = ''
df_afc['interval_ll'] = df_afc['anndats'] - df_afc['anndats_l']
df_afc['interval_ll'] = df_afc[
df_afc['interval_ll'] / np.timedelta64(1, 'D') <= 120]
# If interval_ll >= 120 days, then replace last-last announcement date
# with (last announcement date-120 days)
for i in range(0, len(df_afc)):
    if df_afc['interval_ll'][i] < 120:
        continue
    else:
        df_afc['anndats_ll'][i] = df_afc['anndats_l'][i] - 120
        
# Drop observations where no announcment dates found
# THESE MAY BE REDUNDANT(NEED TO CHECK)!!!
df_afc = df_afc.dropna(subset=['anndats'])
# Drop if diff btw announcement dates and forecast period dates > 120 days
df_afc['interval'] = (df_afc['anndats'] - df_afc['fpedats'])
df_afc['interval'] = df_afc[df_afc['interval'] / np.timedelta64(1, 'D') <= 120]

In [ ]:
"""Keep the diluted EPS analysts estimates or the primary
if no diluted available"""
for i in range(0, len(df_afc)):
    if df_afc['pdf'][i] == 'D':
        continue
    elif df_afc['pdf'][i] == 'P':
        continue
else:
    df_afc.drop(df_afc.index[i])